{% extends 'partials/base.html.twig' %}

{% block content %}
<div class="container mx-auto">
   <section class="pt-8 md:pt-24 text-center block">
      <h1>Jinčí čin</h1>
      <div class="flex justify-center flex-col md:flex-row items-center md:items-start transition2-fade">
         <div class="max-w-sm m-4 md:mt-4 md:w-1/2 text-secondary leading-normal inline-block  text-left md:px-4">
            <p>
               {{header.text1}}
            </p>
         </div>
         <div class="max-w-sm mx-4 md:mt-4 md:w-1/2 text-secondary leading-normal inline-block  text-left md:px-4 md:mb-24">
            {{header.text2|markdown}}
         </div>
      </div>

      {% for photo in item.photo %}
         {#    #}
      {% endfor %}

      <div class="gallery md:mb-32">
         {% for radek in header.radky %}
            <div class="gallery__group">
               {% for photo in radek.gallery %}
                  <div class="gallery__item">
                     {{ page.media[photo.name].lightbox(1024,768).cropResize(600, 600).html(item.title, item.title, 'w-full') }}
                  </div>

               {% endfor %}
            </div>
         {% endfor %}
      </div>
   </section>
</div>{% endblock %}
